<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>enchant MapEditor</title>
        <link rel="stylesheet" type="text/css" href="tutorial.css">
        <script type="text/javascript" src="../js/vendor/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../js/vendor/FileSaver.min.js"></script>
<!--        <script type="text/javascript" src="../js/vendor/enchant-0.8.2.js"></script>-->
        <script type="text/javascript" src="../js/vendor/enchant-0.3.js"></script>

	<script type="text/javascript" src="plugins/extendMap.enchant.js"></script>
        <script type="text/javascript" src="../js/config.js"></script>
        <script type="text/javascript" src="../js/vendor/angular-1.2.28.min.js"></script>
        <script type="text/javascript" src="Controller2_editorTabs.js"></script>

        <script type="text/javascript" src="drawing.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="mapeditor.js"></script>

    </head>
    <body>
	<div id="enchant-stage" style="width: 640px; height: 480px; float:left">
		<div>
		Width (px): <input type = 'text' id = 'widthBox'>
		<br />Height (px): <input type = 'text' id = 'heightBox'>
		<br />Image Set: <select id = 'select'>
		<option value="map0.gif">RPG</option>
		<option value="map1.gif">2D Scroll</option>
		<option value="../img/map2-joowarBeirut-V20150517-1.gif">Joowar Beirut</option>
		</select>
		<br />Enable extended mode (leave checked):<input type = 'checkbox' id = 'checkbox' checked>
		<br />
		<input type = 'button' value = 'Create Blank Map' id="acceptButton">
		</div>
	</div>

	<div id="edit" style="width: 360px; margin-left: 640px" ng-app ng-controller="Controller2_editorTabs" hidden>
		(Use Arrow Keys to Scroll)
		<div id = 'tabs' style="width:360px; height:{{mainTabHeight()}}">
			<div ng-repeat="t in tabs" id = '{{t.id}}' style="width:84px;height:20px;float:left;text-align:center;{{tabColor(t.id)}}" ng-click="changeActive(t.id)">{{t.name}}</div>
			<div id = 'addTabButton' style="width:20px;height:20px;float:left;backgroundColor:rgb(85,85,85);text-align:center;" ng-click="addNewTabAuto()">+</div>
		</div>
		<div style="height:48px"><canvas id="rectIcon" width=336 height=48></canvas></div>
		<div><canvas width=256 height=256 id="paletteCanvas"></canvas></div>
		<div id="loadGenDiv">
			<input type="button" id="loadButton" value="Import Code"></input>
			<input type="button" id="geneButton" value="Generate Code"></input>
			<br>Json file<br>
			<input type="file" id = 'loadJsonButton'></input>
			<br>
			<input type = 'button' id = 'geneButton2' value = 'Generate json'></input>
			<hr>
			<input type = 'text' placeholder = 'name of map' ng-model="uploadName"></input>
			<input type = 'button' value = 'Upload' ng-click="uploadMap()"></input>
		</div>
	</div> <!-- end div edit -->

    <div id="tutorial" style="width: 120px; height: 100px; float: right; margin-right:20px; text-align:center;"><p>
	<a href="#" onclick="$('#fademe').fadeIn(); $('#main').fadeIn()">Show me how to use this</a>
    </p></div>

    <div id="fademe" class="fademe" style=""></div>
    <div class="main" id="main" style="float:left; display:none;">
        <div id="close"><a href="#" onclick="$('#fademe').fadeOut(); $('#main').fadeOut(); return false;">X</a></div>
        <h1>What This Is and How to Use It</h1>
        <h2>The enchant.js Map Editor</h2>
        <p>This is a tool written in JavaScript for quickly creating maps for use with enchant.js. More specifically, since maps in enchant.js images placed in an array from a tileset, this tool is used to generate those arrays. This saves you from having to manually type out the array.</p>
        <h2>How do I use it?</h2>
        <p>To create a map using the Map Editor, do the following:</p>
        <ul>
            <li>Creating a Blank Map
                <ol>
                    <li>Enter in the width of your desired map in pixels.</li>
                    <li>Enter in the height of your desired map in pixels.</li>
                    <li>Choose your desired tileset. (Currently 'RPG' is the most complete.)</li>
                    <li>Hit 'Create Blank Map'.</li>
                </ol></li>
            <li>Editing the Map
                <ol>
                    <li>Choose a basic background tile for your map by clicking a tile (i.e. the green grass tile), clicking 'fill,' and then clicking on the map.</li>
                    <li>Click on 'pen,' click on a tile, and then click on the map to place the tile.
                    <li>To add features that show the background behind them (like trees), click on 'layer2,' and then add your tiles.</li>
                    <li>To make certain tiles on the map impassable by characters, click on 'impassability' and use the Pen to designate a tile location on the map as impassable. The impassable designation can be erased with the "-1" tile.</li>
                    <li>Regular tiles can be erased with the "-1" tile when on layer1, layer2, etc.</li></ol>
                    <p></p>
        </ul>
    </div>
    </body>
</html>
